/.idea/.idea.Kanban/.idea/.gitignore
/Kanban.Web/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/.idea/.idea.Kanban/.idea/aws.xml
/.idea/.idea.Kanban/.idea/encodings.xml
/.idea/.idea.Kanban/.idea/indexLayout.xml
/Kanban.sln
/Kanban.Web/obj/Debug/net6.0/Kanban.Web.AssemblyInfo.cs
/Kanban.Web/obj/Debug/net6.0/Kanban.Web.AssemblyInfoInputs.cache
/Kanban.Web/obj/Debug/net6.0/Kanban.Web.assets.cache
/Kanban.Web/obj/Debug/net6.0/Kanban.Web.csproj.AssemblyReference.cache
/Kanban.Web/obj/Kanban.Web.csproj.nuget.dgspec.json
/Kanban.Web/obj/Kanban.Web.csproj.nuget.g.props
/Kanban.Web/obj/Kanban.Web.csproj.nuget.g.targets
/Kanban.Web/obj/Debug/net6.0/Kanban.Web.GeneratedMSBuildEditorConfig.editorconfig
/Kanban.Web/obj/Debug/net6.0/Kanban.Web.GlobalUsings.g.cs
/Kanban.Web/obj/Debug/net6.0/Kanban.Web.RazorAssemblyInfo.cache
/Kanban.Web/obj/Debug/net6.0/Kanban.Web.RazorAssemblyInfo.cs
/Kanban.Web/obj/project.assets.json
/Kanban.Web/obj/project.nuget.cache
/Kanban.Web/obj/project.packagespec.json
/Kanban.Web/obj/rider.project.restore.info
/.idea/.idea.Kanban/.idea/vcs.xml
